{% extends 'base.html' %}
{% block body %}
<div>
	<h1>Add NEW Match</h1>
	<form method="POST" action="{{ url_for('add_match') }}">
		{{form.csrf_token}}
		{{form.player_name_01.label}} {{form.player_name_01(size=20)}}
		{{form.player_name_02.label}} {{form.player_name_02(size=20)}}
		{{form.player_name_03.label}} {{form.player_name_03(size=20)}}
		{{form.player_name_04.label}} {{form.player_name_04(size=20)}}
		{{form.player_score_01.label}} {{form.player_score_01(siz=20)}}
		{{form.player_score_02.label}} {{form.player_score_02(size=20)}}
		{{form.player_score_03.label}} {{form.player_score_03(size=20)}}
		{{form.player_score_04.label}} {{form.player_score_04(size=20)}}
		<input type ="submit" value ="Add Match">

	</form>
	
</div>

{% endblock %}
